In [1]:
import pandas as pd

In [ ]:
stations = pd.read_csv(inDir +'Divvy_Bicycle_Stations.csv' )
stations.head()

,ID,Station Name,Total Docks,Docks in Service,Status,Latitude,Longitude,Location
0,1594046383808271024,Troy St & Jackson Blvd,9,9,In Service,41.877505,-87.704850,"(41.877505, -87.70485)"
1,641,Central Park Ave & Bloomingdale Ave,11,11,In Service,41.914166,-87.716755,"(41.914166, -87.716755)"
2,1683527931525155814,Public Rack - Cornell Ave & 87th Pl,1,1,In Service,41.736881,-87.583146,"(41.73688127, -87.58314552)"
3,367,Racine Ave & 35th St,15,15,In Service,41.830689,-87.656211,"(41.83068856472101, -87.65621066093445)"
4,1673852313397164648,Public Rack - Francisco Ave & Touhy Ave,2,2,In Service,42.011865,-87.701317,"(42.011865, -87.701317)"

In [112]:
inDir = '/home/alp/Google Drive/Python/DataSets/Data_Divvy/CVS_archive/'

inFile = 'Divvy_Trips_2019_Q4.csv'

df = pd.read_csv(inDir + inFile)

In [ ]:
# Step 1:
# change columns to new names
df.rename(columns={df.columns[0]:'ride_id',
                   df.columns[1]:'rideable_type'
                   df.columns[1]:'started_at',
                   df.columns[2]:'ended_at',
                   df.columns[3]:'bikeid',
                   df.columns[4]:'tripduration',
                   df.columns[5]:'start_station_id',
                   df.columns[6]:'start_station_name',
                   df.columns[7]:'end_station_id',
                   df.columns[8]:'end_station_name',
                   df.columns[9]:'member_casual',
                   df.columns[10]:'gender',
                   df.columns[11]:'birthyear'
                   },inplace=True)

df['started_at'] = pd.to_datetime(df['started_at'],format = '%Y-%m-%d %H:%M:%S')
df['ended_at'] = pd.to_datetime(df['started_at'],format = '%Y-%m-%d %H:%M:%S')

In [110]:
# add lat/.ng columns
df = pd.merge(df,stations[['ID','Latitude','Longitude']],'left', left_on = 'start_station_id',right_on = 'ID')
df = pd.merge(df,stations[['ID','Latitude','Longitude']],'left',left_on = 'end_station_id',right_on = 'ID')
df = df.drop(columns = ['ID_x','ID_y'])
df = df.rename(columns={'Latitude_x':'start_lat','Longitude_x':'start_lng', 'Latitude_y':'end_lat','Longitude_y':'end_lng'})

# add / change to recent data types
df['rideable_type'] = 'classic_bike'
df['member_casual'].replace(['Subscriber','Customer'],['member','casual'],inplace = True)

In [111]:
df['month'] = pd.DatetimeIndex(df['started_at']).month
months_list = df['month'].value_counts().index.to_list()
for m in months_list:
    temp = df[df['month'] == m]
    temp = temp.drop('month',axis=1)
    temp.to_csv(f"{inDir}2020{m:02}-divvy-tripdata.csv")

For 2020_Q1, all that is needed is to split into monthly files -- file names and types are the same as 202004 and following...

In [118]:
inFile = 'Divvy_Trips_2020_Q1.csv'

df = pd.read_csv(inDir + inFile)

df['started_at'] = pd.to_datetime(df['started_at'],format = '%Y-%m-%d %H:%M:%S')
df['ended_at'] = pd.to_datetime(df['started_at'],format = '%Y-%m-%d %H:%M:%S')

df['month'] = pd.DatetimeIndex(df['started_at']).month
months_list = df['month'].value_counts().index.to_list()
for m in months_list:
    temp = df[df['month'] == m]
    temp = temp.drop('month',axis=1)
    temp.to_csv(f"{inDir}2020{m:02}-divvy-tripdata.csv")