In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def getData(year,months=['01','02','03','04','05','06','07','08','09','10','11','12']):
    # procedure accepts year (as string) and optional list of months (strings) for which to retreive data
    # will return a df with the DIVVY data for that year and month(s)
    import pandas as pd

    if not isinstance(year,str):
        year = str(year)

    if not isinstance(months,list):
        months = [months]

    if int(year) >= 2020:
        workDir = '/home/alp/Google Drive/Python/DataSets/Data_Divvy/'
    else:
        workDir = '/home/alp/Google Drive/Python/DataSets/Data_Divvy/pre2020/'

    fileName = year + months[0] + '-divvy-tripdata.json'
    print(fileName)
    retData = pd.read_json(workDir+fileName,orient='index')

    if len(months) > 0:
        for month in months[1:]:
                fileName = year + month + '-divvy-tripdata.json'
                print(fileName)
                newData = pd.read_json(workDir+fileName,orient='index')
                retData = pd.concat([retData,newData])

    return retData

In [3]:
data19 = getData('2019')
data19.shape

201901-divvy-tripdata.json
201902-divvy-tripdata.json
201903-divvy-tripdata.json
201904-divvy-tripdata.json
201905-divvy-tripdata.json
201906-divvy-tripdata.json
201907-divvy-tripdata.json
201908-divvy-tripdata.json
201909-divvy-tripdata.json
201910-divvy-tripdata.json
201911-divvy-tripdata.json
201912-divvy-tripdata.json

(3818004, 16)

In [4]:
data19.drop(columns = ['trip_id', 'bikeid', 'from_station_name',
       'to_station_name', 'gender', 'birthyear','tripduration'],inplace=True)
data19['tripduration'] = data19['end_time'] - data19['start_time']
data19.drop(data19[data19['tripduration'] < '0:00:00'].index, inplace=True)

prob = data19.loc[data19['tripduration'] < '0:00:00']
prob.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 384478 to 384497
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   start_time       13 non-null     datetime64[ns]
 1   end_time         13 non-null     datetime64[ns]
 2   from_station_id  13 non-null     int64
 3   to_station_id    13 non-null     int64
 4   usertype         13 non-null     object
 5   start_lat        13 non-null     float64
 6   start_lng        13 non-null     float64
 7   end_lat          13 non-null     float64
 8   end_lng          13 non-null     float64
 9   tripduration     13 non-null     timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(2), object(1), timedelta64[ns](1)
memory usage: 1.1+ KB

In [9]:
data19.rename(columns={'from_station_id':'start_station_id','to_station_id':'end_station_id'},inplace=True)

In [6]:
data20 = getData('2020')

202001-divvy-tripdata.json
202002-divvy-tripdata.json
202003-divvy-tripdata.json
202004-divvy-tripdata.json
202005-divvy-tripdata.json
202006-divvy-tripdata.json
202007-divvy-tripdata.json
202008-divvy-tripdata.json
202009-divvy-tripdata.json
202010-divvy-tripdata.json
202011-divvy-tripdata.json
202012-divvy-tripdata.json

In [10]:
data20.drop(columns=['ride_id', 'rideable_type', 'start_station_name', 'end_station_name'],inplace=True)
data20.rename(columns={'started_at':'start_time','ended_at':'end_time','member_casual':'usertype'},inplace=True)
data20['tripduration'] = data20['end_time'] - data20['start_time']

In [12]:
data20.columns

Index(['start_time', 'end_time', 'start_station_id', 'end_station_id',
       'start_lat', 'start_lng', 'end_lat', 'end_lng', 'usertype',
       'tripduration'],
      dtype='object')

In [13]:
prob = data20.loc[data20['tripduration'] < '0:00:00']
len(prob)

10665

In [15]:
b = len(data20)

print('before:',b)
data20.drop(data20[data20['tripduration'] < '0:00:00'].index, inplace=True)
print('after: ',len(data20))
print('dropped = ',b-len(data20),(b-len(data20))/b*100)

before: 3541683
after:  3472163
dropped =  69520 1.9629085945862461

In [16]:
data21 = getData('2021')
data21.drop(columns=['ride_id', 'rideable_type', 'start_station_name', 'end_station_name'],inplace=True)
data21.rename(columns={'started_at':'start_time','ended_at':'end_time','member_casual':'usertype'},inplace=True)
data21['tripduration'] = data21['end_time'] - data21['start_time']
data21.drop(data21[data21['tripduration'] < '0:00:00'].index, inplace=True)

202101-divvy-tripdata.json
202102-divvy-tripdata.json
202103-divvy-tripdata.json
202104-divvy-tripdata.json
202105-divvy-tripdata.json
202106-divvy-tripdata.json
202107-divvy-tripdata.json
202108-divvy-tripdata.json
202109-divvy-tripdata.json
202110-divvy-tripdata.json
202111-divvy-tripdata.json
202112-divvy-tripdata.json

In [17]:
bigData = pd.concat([data19,data20,data21],axis=0)
bigData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12883947 entries, 0 to 247539
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   start_time        datetime64[ns]
 1   end_time          datetime64[ns]
 2   start_station_id  object
 3   end_station_id    object
 4   usertype          object
 5   start_lat         float64
 6   start_lng         float64
 7   end_lat           float64
 8   end_lng           float64
 9   tripduration      timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), object(3), timedelta64[ns](1)
memory usage: 1.1+ GB

In [18]:
bigData['month'] = pd.DatetimeIndex(bigData['start_time']).month
bigData['year'] = pd.DatetimeIndex(bigData['start_time']).year

In [ ]:
def busyStartStations(bigData,year):
    temp = bigData[bigData['year'] == year]
    stations = temp['start_station_id'].value_counts().head(15)
    for s in stations:

In [34]:
temp = bigData[bigData['year'] == 2019]
stations = temp['start_station_id'].value_counts().head(15)

In [36]:
stat_df = stations.to_frame().reset_index()
stat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             15 non-null     int64
 1   start_station_id  15 non-null     int64
dtypes: int64(2)
memory usage: 368.0 bytes

In [ ]:
for ind in stat_df.index:
    start_lat = bigData.loc[bigData['start_station_id'] == stat_df['index'][ind]]['start_lat']
    print(stat_df['index'][ind],start_lat)

In [42]:
stat_df.rename(columns={'start_station_id':'count','index':'start_station_id'},inplace=True)
stat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   start_station_id  15 non-null     int64
 1   count             15 non-null     int64
dtypes: int64(2)
memory usage: 368.0 bytes

In [48]:
stat_df.head()

   start_station_id  count
0                35  67983
1               192  54389
2                77  49908
3                76  49803
4                91  48153

In [49]:
temp = bigData.loc[bigData['start_station_id'] == 35].head(1)
temp

,start_time,end_time,start_station_id,end_station_id,usertype,start_lat,start_lng,end_lat,end_lng,tripduration,month,year
18,2019-01-01 00:25:28,2019-01-01 00:27:10,35,35,Subscriber,41.892278,-87.612043,41.892278,-87.612043,0 days 00:01:42,1,2019

In [52]:
for index, row in stat_df.iterrows():
    id = row['start_station_id']
    temp = bigData.loc[bigData['start_station_id'] == id].head(1)
    start_lat = temp['start_lat']
    start_lng = temp['start_lng']
    print(id,start_lat,start_lng,row['count'])

35 18    41.892278
Name: start_lat, dtype: float64 18   -87.612043
Name: start_lng, dtype: float64 67983
192 288    41.879255
Name: start_lat, dtype: float64 288   -87.639904
Name: start_lng, dtype: float64 54389
77 64    41.882242
Name: start_lat, dtype: float64 64   -87.641066
Name: start_lng, dtype: float64 49908
76 174    41.880958
Name: start_lat, dtype: float64 174   -87.616743
Name: start_lng, dtype: float64 49803
91 758    41.88338
Name: start_lat, dtype: float64 758   -87.64117
Name: start_lng, dtype: float64 48153
195 244    41.884728
Name: start_lat, dtype: float64 244   -87.619521
Name: start_lng, dtype: float64 39192
43 172    41.883984
Name: start_lat, dtype: float64 172   -87.624684
Name: start_lng, dtype: float64 37696
85 22    41.90096
Name: start_lat, dtype: float64 22   -87.623777
Name: start_lng, dtype: float64 35449
268 9    41.911722
Name: start_lat, dtype: float64 9   -87.626804
Name: start_lng, dtype: float64 34472
287 1090    41.880317
Name: start_lat, dtype: float64 1090   -87.635185
Name: start_lng, dtype: float64 34297
90 12    41.881032
Name: start_lat, dtype: float64 12   -87.624084
Name: start_lng, dtype: float64 34106
81 139    41.884241
Name: start_lat, dtype: float64 139   -87.629634
Name: start_lng, dtype: float64 33875
133 124    41.889177
Name: start_lat, dtype: float64 124   -87.638506
Name: start_lng, dtype: float64 33102
177 205    41.926277
Name: start_lat, dtype: float64 205   -87.630834
Name: start_lng, dtype: float64 31997
174 169    41.882091
Name: start_lat, dtype: float64 169   -87.639833
Name: start_lng, dtype: float64 29831